<include file="Index/header"/>
<js href="__PUBLIC__/assets/js/jquery.dataTables.min.js"/>
<css href="__PUBLIC__/assets/css/jquery.dataTables.min.css"/>
<style>
    .list-title {
      text-align: center;
      padding: 20px;
    }
</style>
<body>
    <header class="am-topbar am-topbar-fixed-top">
        <div class="am-container">
            <h1 class="am-topbar-brand">教师模块 </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}">
                <span class="am-sr-only">导航切换</span>
                <span class="am-icon-bars"></span>
            </button>
            <div class="am-collapse am-topbar-collapse" id="collapse-head">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li><a href="{:U("Home/Teacher/index")}">首页</a></li>
                    <li class="am-active"><a href="#">学生</a></li>
                    <li><a href="{:U("Home/Teacher/questionList")}">习题</a></li>
                    <li><a href="{:U("Home/Teacher/examList")}">考试</a></li>
                </ul>

                <if condition="session('teacher')">
                    <div class="am-topbar-right">
                        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">
                            <span class="am-icon-user"></span>
                            <a href="#"> {:I('session.teacher')['username']}</a>
                        </button>
                    </div>
                <else />
                    <div class="am-topbar-right">
                        <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">
                            <span class="am-icon-pencil"></span>
                            <a href="{:U("/Home/Teacher/login")}"> 登录</a>
                        </button>
                    </div>
                </if>
            </div>
        </div>
    </header>
    <div class="list-title">
        <h1>学生信息列表</h1>
    </div>
    <div class="am-g am-u-lg-centered">
        <table id="studentList" class="stripe">
            <thead>
                <tr>
                    <th>学生学号</th>
                    <th>学生姓名</th>
                    <th>平均得分</th>
                    <th>学生详情</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="am-modal am-modal-no-btn" tabindex="-1" id="my-modal">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">学生历次考试成绩
                <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
            </div>
            <div class="am-modal-bd" id="studentInfoContent">
                <table id="studentInfoTable" class="stripe">
                    <thead>
                        <tr>
                            <th>试题编号</th>
                            <th>学生得分</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function($) {

        $.ajax({
            url: '{:U("/Home/Teacher/getStudentList")}',
            type: 'POST',
            dataType: 'json',
            data: {
                teacher_id: '{:I("session.teacher")["teacher_id"]}'
            }
        })
            .done(function(response) {
                $('#studentList').DataTable( {
                    data: response,
                    columns: [
                        { data: 'student_id' },
                        { data: 'name' },
                        { data: 'avescore' },
                        { data: 'info' }
                    ],
                    columnDefs: [
                        <!-- { -->
                        <!--     "targets": 0, -->
                        <!--     "visible":false -->
                        <!-- }, -->
                        {
                            "targets": -1,
                            "data": null,
                            "render": function (data, type, row, table) {
                                return '<button type="button" data-am-modal="{target: \'#my-modal\'}" class="am-btn am-btn-primary" onclick="getStudentInfo(' + data + ')">' +  "查看学生" + data + '</button>';
                            }
                        }
                    ]
                } );
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    });

    function getStudentInfo(student_id){
        $.ajax({
            url: '{:U("/Home/Teacher/getStudentInfo")}',
            type: 'POST',
            dataType: 'json',
            data: {
                student_id: student_id
            }
        })
            .done(function(response){
                $('#studentInfoTable').DataTable({
                    bDestroy: true,
                    paging: false,
                    searching: false,
                    data: response,
                    columns:[
                        { data: 'question_id' },
                        { data: 'score' }
                    ]
                });
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
    }
</script>
